* {
  user-select: none;
}
.project-container {
  display:block;
  padding: 0 2rem;
  font-size: 12px;
}

.projects-box {
  margin-top: 5rem;
}
.new-project {
  margin-top: 4rem;
  z-index: 1000;
}

.btn-add-project {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.add-button {
  margin-left: -1rem;
}
.add-button-rotated {
  margin-left: -1rem;
  animation: rotate-keyframes 0.2s;
  transform: rotate(45deg);
}
.svg{
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
  
.svg-circle-bg {
    fill: none;
}
  
.svg-circle {
    fill: none;
}

.svg-circle-text {
    font-size: 2rem;
    text-anchor: middle;
    fill: #fff;
    font-weight: bold;
}
@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
