.new-project {
  margin-top: 4rem;
  z-index: 1000;
}
.add-button {
  margin-left: -1rem;
}
.add-button-rotated {
  margin-left: -1rem;
  animation: rotate-keyframes 0.2s;
  transform: rotate(45deg);
}
.project-list {
  overflow:hidden;

}
.test{
  height: 100%,

}
.project-list:hover {
  overflow-y:auto;
  margin-right: -7px;
}
@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
